<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
{% load render_bundle from webpack_loader %}
{% render_bundle 'main' attrs='defer' %}

<meta name="description" content="OmniSegment - Smart Marketing Automation Tools。行銷活動 Ｘ DMP Ｘ 行為轉換，用戶分群與行為分析，充分掌握每一個活動成效，加速你的行銷策略。">
<meta name="keywords" content="Line,EDM,電子報,簡訊,行銷,Facebook行銷,獲客,再行銷,轉換率優化,客戶分群,客戶畫像,客戶行為,行銷自動化內容行銷,拓展數位通路,">
<meta http-equiv="X-UA-Compatible" content="IE=edge; IE=11; IE=10; IE=9; IE=8;">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--Favicon Start -->
<link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
<link rel="manifest" href="/static/images/site.webmanifest">
<link rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/static/images/favicon.ico">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="msapplication-config" content="/static/images/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<!--Favicon End -->
<title>OmniSegment - Smart Marketing Automation Tools</title>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/purecss@1.0.0/build/base-min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/purecss@1.0.0/build/grids-min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/purecss@1.0.0/build/grids-responsive-min.css">
</head>
<body>
    <div id="app"></div>
</body>
</html>
<script src="//cdn.jsdelivr.net/npm/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/moment@2.20.1/moment.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/moment@2.20.1/locale/zh-tw.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/d3@5.14.2/dist/d3.min.js"></script>
<script>
    var REACT_DATA = '{{ context_data | escapejs }}';
    if (REACT_DATA) {
        REACT_DATA = JSON.parse(REACT_DATA);
    } else {
        REACT_DATA = {};
    }
</script>
{% block jsonData %}{% endblock %}
{% render_bundle 'vendor' %}

<!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/semantic-ui-container@latest/container.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/semantic-ui-menu@latest/menu.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/semantic-ui-table@latest/table.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/semantic-ui-header@latest/header.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/semantic-ui-button@latest/button.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/semantic-ui-card@latest/card.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/semantic-ui-form@latest/form.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/semantic-ui-rail@latest/rail.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/semantic-ui-segment@latest/segment.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/semantic-ui-image@latest/image.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/semantic-ui-breadcrumb@latest/breadcrumb.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/semantic-ui-tab@latest/tab.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/semantic-ui-list@latest/list.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/semantic-ui-label@latest/label.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/semantic-ui-step@latest/step.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/semantic-ui-modal@latest/modal.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/semantic-ui-dimmer@latest/dimmer.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/semantic-ui-dropdown@latest/dropdown.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/semantic-ui-checkbox@latest/checkbox.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/semantic-ui-message@latest/message.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/semantic-ui-popup@latest/popup.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/semantic-ui-search@latest/search.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/react-dates@18.2.2/lib/css/_datepicker.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/emoji-mart@2.11.2/css/emoji-mart.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/react-grid-layout/styles.css">
<link rel="stylesheet" type="text/css" href="/static/css/react-resizable/styles.css">
<link rel="stylesheet" type="text/css" href="/static/css/react-treeview/styles.css">
<link rel="stylesheet" type="text/css" href="/static/css/react-datetime/styles.css"> -->
